{% extends 'layout.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "Lista de Clientes" %}</h2>
{% if perms.clientes.change_cliente %}
  <a href="{% url 'agregar_cliente' %}">
    <button>➕ {% trans "Nuevo Cliente" %}</button>
  </a>
{% endif %}

<div style="margin-bottom: 20px;">
    <a href="{% url 'exportar_excel' %}"><button>{% trans "Exportar a Excel" %}</button></a>
    <a href="{% url 'exportar_pdf' %}"><button>{% trans "Exportar a PDF" %}</button></a>
</div>

<table>
  <thead>
    <tr>
      <th>{% trans "Nombre" %}</th>
      <th>{% trans "Email" %}</th>
      <th>{% trans "Teléfono" %}</th>
      <th>{% trans "Rut" %}</th>
      <th>{% trans "Dirección" %}</th>
      <th>{% trans "Estado" %}</th>
      <th>{% trans "Acciones" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr class="{% cycle 'par' 'impar' %}">
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.telefono }}</td>
      <td>{{ cliente.rut }}</td>
      <td>
        {% if cliente.direcciones.all %}
            {{ cliente.direcciones.all.0.calle }},
            {{ cliente.direcciones.all.0.ciudad }},
            {{ cliente.direcciones.all.0.region }}
        {% else %}
            Sin dirección
        {% endif %}
      </td>
      <td>{{ cliente.estado }}</td>
      <td>
     <!--   <a href="{% url 'editar_cliente' cliente.id %}">✏️ Editar</a> |
        <a href="{% url 'eliminar_cliente' cliente.id %}">🗑️ Eliminar</a>
      -->
    {% if perms.clientes.change_cliente %}
      <a href="{% url 'editar_cliente' cliente.id %}">✏️ {% trans "Editar" %}</a> |
    {% endif %}
    {% if perms.clientes.delete_cliente %}
      <a href="{% url 'eliminar_cliente' cliente.id %}">🗑️ {% trans "Eliminar" %}</a>
    {% endif %}      
    
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">No hay clientes registrados.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: left;
  }
  thead {
    background-color: #2c3e50;
    color: white;
  }
  tr.par {
    background-color: #f9f9f9;
  }
  tr.impar {
    background-color: #eaeaea;
  }
  tr:hover {
    background-color: #d6eaf8;
  }
</style>
{% endblock %}



